<ion-content>
  <div class="wrapper">
    <div>
      <ion-item>
        <a routerLink="/edit-profile">
          <ion-button >
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>        
        </a>      
        <p class="heading">Change Password</p>
      </ion-item>
     
    </div>
    <div class="container">
    </div>
    <form>
      <ion-item>
        <ion-label position="floating">Enter Old Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Enter New Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Re-Enter New Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </form>
  </div>

</ion-content>
<ion-footer>
  <div class="footer">
    <button mat-stroked-button class="save" (click)="showMessageSoon()">
      Save Changes
    </button>
  </div>
</ion-footer>