.wrapper {
    position: relative;
  }
  .container {
      text-align: center;
  }
  .footer{
    padding-bottom: 25px;
}
.save{
    width: 100%;      
    background-color:  white;
    color: red;
}
.heading{
    margin-left: 40px;
}