<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: medium;">
      <a routerLink="/home">
        <ion-icon class="back-button" name="arrow-back-outline"></ion-icon>
      </a>
      ColorBar Matte Lipstick </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="img" src="./assets/colorbar.jpg" />
    <div style="text-align: center;">
      <img style="border: 1px solid black; width: 80px; position: relative; bottom: 45px;" src="./assets/color-lip.jpg" />
    </div>
    <div style="margin-top:-40px;">
      <ion-item class="title">ColorBar Matte Lipstick </ion-item>
    <ion-item>
      <ion-grid style="padding: 0px;">
        <ion-row style="height: 30px;">
          <div>
            <ion-icon class="star"  name="star-outline"></ion-icon>
            <p class="details">ColorBar</p>
          </div>        
        </ion-row>
        <ion-row style="height: 30px;">
          <ion-icon class="back-button" name="gift-outline"></ion-icon>
          <p class="details">Get free profuct worth &#8377;144</p>
        </ion-row>
        <ion-row style="height: 30px; ">
          <div class="flex-container">
            <p  class="rupee-icon">&#8377;</p>
            <!-- <ion-icon class="back-button" name="gift-outline"></ion-icon> -->
            <p class="details" style="   display: flex; margin-left: 3px;">Earn &#8377;1,000</p>
          </div>
       
        </ion-row>
        <ion-row style="height: 30px;">
          <ion-icon class="back-button" name="calendar-outline"></ion-icon>
          <p class="details">Registraton closes on 31-july-2020</p>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-card-content>
     <p class="description" >Description</p>
     <p style="color: black; padding-bottom: 15px;">Colorbar Velvet Matte Lipstick is a rich lip color that provides creamy shiny look to your lips. 
       Made from 2-in-1 formulation, it provides your lips a matte finish which is yet creamy in nature. 
      </p>
      <p style="color: black; padding-bottom: 15px;">
        HOW TO's
      </p>
      <p style="color: black; padding-bottom: 15px;">
        1. Register for a collab of your choice. You can participate in 1 at a time.
      </p>
      <p style="color: black; padding-bottom: 15px;">
        2. Please follow all the instructions mentioned in the Email and keep the video short(under 10 mins),clear(1080p) and fun.
      </p>
      <p style="color: black; padding-bottom: 15px;">
        3. Share approved video on your Youtube or Instagram channel tagging @wobb.
      </p>
      <p style="color: black; padding-bottom: 15px;">
        4. Claim your cash rewards from the app!
      </p>
      <p style="color: black; padding-bottom: 15px;">
        5. Please use free music. You will find a wide library of royalty-free music on Youtube.
      </p>
      <p style="color: black; padding-top: 15px;">
        T&C
      </p>

    </ion-card-content>
    </div>
    

  </ion-card>
  
</ion-content>
<ion-footer style="padding-top: 7px; padding-bottom: 7px;">
  <ion-button style="width: 50%; display: block; margin: auto;" color="dark" expand="full">Endorse </ion-button>
</ion-footer>