.back-button{
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.img{
    width: 100%;
  }
.title{
    // font-size: medium; 
    font-weight: bold;
}
.details{
   display:inline-block;
   font-size: small;
   color: black;

}
.description{
    color: black;     
    font-weight: bold;
    padding-bottom: 8px;
}
.flex-container{
display: flex;
}
.flex-container p{
    margin: 10px;
align-items: center;
    
}
.rupee-icon{
    border: 1px solid black;
            height: 14px;
            width: 15px;
            margin-left: 12px;
            display: flex;
            padding-left: 2px;
            padding-right: 2px;
}
.star{
    border: 1px solid black ; 
            border-radius: 100%;
            padding: 0px;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
            top: 3px;
            width:14px;
            height: 14px;
}