<ion-content>
  <div class="container">
    <!-- <div>
          <a routerLink="/settings" >
  
    <ion-button color="white" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    </a>
    <a routerLink="/edit-profile">
      <ion-button color="white"  class="edit" >
        <ion-icon name="create" ></ion-icon>
      </ion-button>
    </a>
    </div> -->

    <div class="wrapper">
      <div class="align">
        <img class="avatar" mat-card-md-image src="../../../assets/icon/baby.png">
        <ion-card>
          <h3> Johnson's Baby</h3>
          <h3> 022 66646464</h3>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer">
    <button mat-stroked-button class="logout">
      <ion-icon name="power"></ion-icon>
      Logout
    </button>
  </div>

</ion-footer>