.card{
    box-shadow: none;
     margin-left: 1px;
      margin-right: 2px;
      margin-top: 2px;
      margin-bottom: 0px;;
}
.content{
    margin-top: -3px; 
    padding-top: 0px;
    font-size: small;
    padding-left: 10px;
}
.end-icon{
    color:black; 
       margin-top: 0px;
}