<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; font-size: medium;">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/colorbar.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@manvi0</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small" class="end-icon" name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/color-lip.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@dressup</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small" class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/mamaearth.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@high_on_heels</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small"  class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/2.png" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@ayesha</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small"  class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/colorbar.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@manvi0</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small" class="end-icon" name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/color-lip.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@dressup</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small" class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/mamaearth.jpg" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@high_on_heels</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small"  class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  <ion-card  class="card" >
    <ion-item  >
    <ion-avatar>
      <img src="./assets/2.png" />
    </ion-avatar>
    <ion-card-content  class="content" ><b>@ayesha</b> started following you</ion-card-content>
    <ion-icon slot="end" size="small"  class="end-icon"  name="person-add-outline"></ion-icon>
  </ion-item>
   
  </ion-card>
  </ion-content>
