
<ion-content>
	<ion-header>
		<ion-toolbar>
		<ion-buttons fill="outline" color="dark" slot="end" (click)="dismiss()">
				<ion-icon name="close-outline"></ion-icon>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
  <p style="font-weight: bold; padding-left: 10px;">Location   <ion-icon name="information-circle"></ion-icon></p> 
  <div style="margin-bottom: 10px;">
	<ion-toolbar>
		<ion-searchbar [(ngModel)]="value"
		mode="md" inputmode="text" placeholder="Select Location"></ion-searchbar>
	</ion-toolbar>

	<div *ngIf='!entered'>
		<div *ngFor="let country of countries" class="countryDiv">
			<ion-item *ngIf="(country.substring(0,value.length).toLowerCase() == value.toLowerCase().trim())||(value.toLowerCase().trim().split(' ').join('')==country.toLowerCase().split(' ').join('').slice(0,value.toLowerCase().trim().split(' ').join('').length))" (click)="Count(country)">
				{{ country }}
			</ion-item>
		</div>
	</div>
</div>

<ion-button color='success' (click)="Submit()" style="padding-left: 10px;" >Apply</ion-button>
  <ion-content></ion-content>
